*{
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    border-radius: 5px;
    
}
#logo{
    width: 500px; height: 500px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#item-details, .store-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.store-details{
    height: 150px; width: 1000px; margin: auto;
    padding: 15px;
    background-color: #fafafa;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.wrapper{
    margin: 20px;
}
#details{
    height: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
#store-img{
    border-radius: 50%;
    width: 100px;
    height: auto;
}

button{
    width: 200px;
    height: 50px;
    border: 2px solid #FD5901;
    background-color: #FFDEAD;
    
    
}
button:hover{
    opacity: 0.5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#cancel{
    background-color: #FD5901;
    color: #ffffff;
}
